/*page*/
*{
  box-sizing: border-box;
  font-family: "LG Smart Light",Tahoma,Arial, FontAwesome, sans-serif;
}
#header{
  background-color: #a6a6a6;
  width: 100%;
}
.row {
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
a:hover {
  text-decoration: none;
}

/*scroll bar of page*/
::-webkit-scrollbar {
    width: 10px;
    border-radius: 5px;
}

a {
  color:#9E9E9E;
  text-decoration: none;
}

    /* Track */
::-webkit-scrollbar-track {
    background: #ECEFF1;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	   border-radius: 10px;
}
    /* Handle */
::-webkit-scrollbar-thumb {
    background:#B0BEC5;
    border-radius: 10px;
}

    /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background:#FF8A65;
}
::-webkit-scrollbar-thumb:active {
    background: #E64A19;
}

/*header*/
#header {
  height: 80px;
  margin-bottom: 0;
  width: 100%
}


#header a {
    color: #fff;
}
.logo {
  width : 295px;
  height: 60px;
  float: left;
  margin-left: 50px;
}
.pageTitle {
  font-size: 30px;
  text-align: right;
  font-weight: bold;
  margin-top: 10px;
}
.menuButtons{
  padding: 0;
  display: table-cell;
  text-align: right;
  height: 100%;
}
.menuButtons ul {
  margin: auto;
  list-style-type: none;
  display: inline-block;
  text-align: right;
  height: 100%;
}
.menuButtons li {
  text-align: right;
  float: left;
  margin: 0;
  padding: 25px 5px;
  height: 100%;
}

a.menuLink {
  max-width: 180px;
  display: table-cell;
  padding: 0 20px;
  line-height: 22px;
  font-size: 20px;
  font-weight: normal;
  width: auto;
  height: 100%;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
}
li.link:hover, a.menuLink:hover{
    background-color: #d9dbe0;
    color: #333;
    cursor: pointer;
    font-weight: bold;
}

#userInfo:hover .menu {
  opacity: 1;
}
  /*Info at the avatar icon*/
#userInfoIcon {
  box-shadow: 1px 1px 1px #2c3e50;
  border-radius: 50%;
}
.info {
  position: relative;
  display: inline-block;
  padding: 0 15px;
}

.infoMenu {
    position: absolute;
    z-index: 100;
    top: 80px;
    right: 0px;
}
.menu {
    opacity: 0;
    background-color:#FF5722;
    min-width: 200px;
    z-index: 10;
    top: -40px;
    box-shadow: 2px 2px 1px #34495e;
}
.infoMenu a {
  padding: 8px 10px;
  color: black;
  display: block;
  margin: 0;
  text-align: center;
  z-index: 10;
}

.infoMenu a:hover {
  color: white;
  font-weight: bold;
  background-color:#FF7043;
  text-decoration: none;
  border-bottom: #DD2C00 solid 1px ;
}
/* language tab */
.red_tab {
  width: 100%;
  height: 38px;
  margin: 0;
  background-color: #ff8c1a;
  position: relative;
  opacity: 1;
  min-width: 768px;
  z-index: 1;
}

.red_tab a {
  color: #fff;
}

.red_tab > .container {
  margin: 0;
}

ul.global {
  padding: 0;
  margin: 0;
  float: right;
  list-style: none;
  padding-right: 15px;
  line-height: 38px;
  font-style: normal;
  vertical-align: top;
}

ul.global> li a.language {
  text-decoration: none;
  font-weight: 400;
  font-size: auto;
}

.fa-globe {
  font-size: 25px;
  margin-right: 5px;
  color: #fff !important;
}

.global a.language:hover {
  color: #333;
  text-decoration:none ;
}

.container {
  width: 90%;
  margin: auto;
  margin-top: 30px;
  z-index: 2;
}
