/*header*/
.row {
  box-sizing: border-box;
}
.col-sm-3 {
  padding: 10px;
}
.logo {
  width : 150px;
  height: 60px;
  float: left;
}
.pageTitle {
  font-size: 30px;
  text-align: right;
  font-weight: bold;
}
.menuButtons{
  padding: 10px;
  display: inline;
  text-align: right;
}
.menuButtons ul {
  margin: auto;
  list-style-type: none;
  display: inline-block;
  text-align: right;
}
.menuButtons li {
  text-align: right;
  float: left;
  margin: 10px 0;
}
a.button {
  text-decoration: none;
  color: initial;
  padding: 5px;
  font-size: 15px;
  border-radius: 5px;
  border: solid 1px black;
  background: linear-gradient(#66c2ff, #ccebff);
}

a.button:hover{
  background: #005c99;
  color: white;
}

/*Info at the avatar icon*/
.userInfo {
  position: relative;
  display: inline-block;
  padding: 0 15px;
}

.infoContent {
    display: none;
    position:absolute;
    background-color: #66c2ff;
    min-width: 130px;
    z-index: 1;
    border-radius: 15px;
}
.infoContent a {
  padding: 8px 10px;
  color: black;
  display: block;
  margin: 0;
  text-align: center;
}

.infoContent a:hover {
  color: white;
  background-color: #005c99;
  text-decoration: none;
  border-radius: 15px;
  border-bottom: #0059b3 solid 1px ;
}

.userInfo:hover .infoContent{
  display: block;
}
