/*map choosing for editing profile*/
#locationByMap {
  margin: 0;
  padding: 0;
}
#description {
  font-family: inherit;
  font-size: 15px;
  font-weight: 300;
}
#infowindow-content .title {
  font-weight: bold;
}
#infowindow-content {
  display: none;
}
#map #infowindow-content {
  display: inline;
}
#map01 #infowindow-content {
  display: inline;
}
#map02 #infowindow-content {
  display: inline;
}
.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: inherit;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: inherit;
  font-size: 13px;
  font-weight: 300;
}

.pac-input {
  background-color: #fff;
  font-family: inherit;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  margin-top: 10px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 250px;
  height: 20px;
}
#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}
#target {
  width: 345px;
}
/*end with map*/
#map {
  width: 100%;
  z-index: 1000!important;
  height: 400px;
}
#locationByMap modal-dialog {
  width: 700px;
}
#map01, #map02 {
  height: 200px;
  width: 95%;
  margin: auto;
}
input.searchBox, input#locationforFind, input#locationforCreate {
  padding: 3px 10px 3px 5px !important;
  margin-top: 3px !important;
  margin-left: 10px !important;

  text-overflow: ellipsis;
  font-size: 15px;
}
