.avatar {
    width: 170px;
    height: 170px;
    display: block;
    margin: auto;
}

.option-about {
	margin-top: 10px;
	border-left: 1px solid black;
}

.invite {
	margin-top: 80px;
}

.personal {
	margin: 20px;
}

.external-link {
	border-left: 1px solid black;
}

.update {
	margin-top: 20px;
}

.social {
	margin-top: 10px;
}

.save {
	display: block !important;
	margin: auto;
	margin-top: 10px;
}