#Sign-in .modal-footer {
  justify-content: space-between;
}

input.form-control {
  margin-bottom: 16px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  background-color: transparent;
  width: 100%;
}

.remember-me, .signin-btn, .signup-btn {
  text-align: center;
  margin-bottom: 10px;
}

div.signin-btn .btn, div.signup-btn .btn {
  width: 100%;
  height: auto;
  padding: 12px 0;
  border-radius: 2px;
  margin-top: 6px;
  margin-bottom: 0;
  background-color: #EB9532;
  color: #fff;
}

i.fa {
  color: #EB9532;
}

a.forgot-pass {
  color: #EB9532;
}

a:hover {
  color: #EB9532;
  text-decoration: none;
}

div.signin-btn .btn:hover, div.signup-btn .btn:hover {
  background-color: #FF7416;
  color: #fff;
}

.logo-part {
  display: block;
  text-align: center;
  margin-bottom: 10px;
}

img.logo {
  height: 42px;
  width: auto;
}

.notify {
  text-align: center;
  padding: 6px 12px;
  margin-top: 6px;
}

.notify-verification {
  height: 0px;
  opacity: 0;
  transition: all 400ms cubic-bezier(0.745, -0.340, 0.425, 1.430);
  transform-origin: 0% 0%;
  transform: rotateX(-90deg);
}

.show-more {
  height: 60px;
  opacity: 1;
  transform: rotateX(0deg);
}

#Forgot-password .modal-footer {
  padding-bottom: 0;
}

p {
  margin-bottom: 0;
}
