#team-info {
	margin-top: 30px;
}

.create-team {
	display: block;
	margin: auto;
}

/* Search fields*/
.search-container {
	display: block;
    margin: auto;
    width: 300px;
    padding-top: 10px;
}

.search-fields {
	padding-right: 0px;
}

.button-search {
	padding-left: 5px;
}

.row {
	margin: auto;
}

/* Logo */
.logo-team {
	width: 100px;
    height: 120px;
    display: block;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.team {
	border: 1px solid black;
	border-radius: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.join {
	display: block;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

/*Team logo*/
.avatar {
	width: 100px;
	height: 100px;
	 display: block;
    margin: auto;
}

.upload-logo {
	margin-top: 10px;
}
		
.create {
	margin: auto;
}

.teamname {
	width: 300px;
}
