.container {
  margin-top: 40px;
}
/*avatar rank table and contact user*/
.avatarImage {
  border-radius: 50%;
  width: 170px;
  height: 170px;
  margin-left: 100px;
  box-shadow: 3px 3px 3px #9E9E9E;

}

table.personalAward {
  border: none;
  width: auto;
  background-color: inherit;
  margin: auto;

}

.personalAward td {
  padding: 10px;
  text-align: center;
  color: black;
}

.personalAward td img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: -3px -3px 3px #9E9E9E;
}

td.numberofCups {
  background-color: white;
  font-size: 200%;
  padding: 0;
  font-style: normal;
  font-weight: bold;
  color:#FF8F00;
}
.star {
  margin: 2px;
}

td.numberofCups:hover .star{
  box-shadow: 1px 1px 1px #d9d9d9;
  border-radius: 50%;
  cursor: pointer;
}

.contactUser {
  padding: 10px;
  max-width: 50px;
  margin: auto;
  position: fixed;
  z-index: 1;
  right: 50px;
  top: 120px
}
.contactUser img {
  width: 30px;
  height: 30px;
  margin: 10px;
}

/*basic info and bio*/

.basicInfo {
  margin-top: 30px;
  font-size: 20px;
}

.infoform {
  border-radius: 10px;
  border: 1px solid #d9d9d9;
  box-shadow: 1px 1px 1px #d9d9d9;
  margin-left: 0;
  font-size: 18px;
  padding: 10px;
}

.infoformRow {
  margin: 10px 3px;
}

.infoformLabel{
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 400;
}

.infoformValue input:disabled,select:disabled{
  width: 100%;
  border: black;
  border-radius: 5px;
  background-color: #F5F5F5;
  box-shadow: 1px 1px 3px #d9d9d9;
  font-family: sans-serif;
  color: black;
  font-size: 15px;
  padding: 3px 0;
  padding-left: 10px;
  cursor: no-drop;
}

.bio textarea {
  font-size: 18px;
  margin: 3px;
  border-radius: 10px;
  padding: 5px 10px;
  text-align: justify;
}
.bio textarea:disabled {
  background-color: #F5F5F5;
  box-shadow: 1px 1px 6px #d9d9d9;
  border: #d9d9d9 solid 1px;
  cursor: no-drop;
}
.bio label, .gamePlay label {
  font-size: 20px;
  font-weight: bold;
  border: 1px solid #d9d9d9;
  box-shadow: 1px 1px 1px #d9d9d9;
  border-radius: 10px;
  padding:5px 10px ;
}

.gamePlay img {
  width: 60px;
  height: 60px;
  margin-left: 40px;

}

.gamePlay table tr td {
  margin: 5px;
  padding: 10px;
  font-size: 13px;
  z-index: 100;
  width: 220px;
}
.editprofile {
  padding: 10px 10px;
  text-align: center;
}

a.editButton {
  padding-left: 5px;
  border-radius: 5px;
  border: solid 1px black;
  border-top: none;
  border-left: none;
  background: linear-gradient(#F4511E, #FFAB91);
  box-shadow: 1px 1px 1px #2c3e50;
  text-decoration: none;
  color: black !important;
  margin: 5px;
  font-size: 15px;
  padding: 10px;
  font-weight: bold;
  display: inline-block;
  text-align: center;
}

a.cancelButton {
  padding-left: 5px;
  border-radius: 5px;
  border: solid 1px black;
  border-top: none;
  border-left: none;
  background: linear-gradient(#757575, #BDBDBD);
  box-shadow: 1px 1px 1px #2c3e50;
  text-decoration: none;
  color: black;
  margin: 3px;
  font-size: 15px;
  padding: 10px;
  font-weight: bold;
  display: inline-block;
  text-align: center;
}

a.editButton:hover {
  color: white!important;
  background: #E64A19;
  text-decoration: none;
  cursor: pointer;
}

.cancelButton:hover{
  color: white;
  background: #757575;
  text-decoration: none;
}

.teamofUser {
  margin: 20px;
  margin-top: 30px;
  border: 1px #d9d9d9 solid;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #2c3e50;
  padding: 20px;
}


/*calendar*/
.calendar {
  width: 500px;
  margin: 30px auto;
  border: solid 1px #2c3e50;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #d9d9d9;
}
.prev {
 float: left;

}
.next {
  float: right;
}
.calendarMonth {
  background:
}
.calendarDays {

}

/*edit profile page*/
.avatar {
  padding: 5px;
  margin: auto;
  width: auto;

}

.avatar img{
  width: 170px;
  height: 170px;
  border: #d9d9d9 solid 1px;
  box-shadow: 1px 1px 1px #d9d9d9;
}

.changePic {
  background: #EEEEEE;
  color: black;
  font-weight: 400;
  display: block;
  width: 170px;
  word-wrap: break-word;
  padding: 4px;

}
.changePic a {
  color: black;
}

.infoformRow input:not([type="range"]), .infoformRow select:not(:disabled), .map input {
  width: 330px!important;
  border: 1px solid #9E9E9E;
  border-radius: 5px;
  background-color: #FAFAFA;
  box-shadow: 1px 1px 3px #d9d9d9;
  font-family: sans-serif;
  color: black;
  font-size: 15px;
  padding: 3px 0;
  padding-left: 10px;
  display: inline-block;
}

.infoformValue input:focus, .infoformValue select:focus {

  border: solid 3px #80b3ff;
  border-radius: 5px;
  background-color:#F5F5F5;
  box-shadow: 1px 1px 3px #d9d9d9;
  font-family: sans-serif;
  color: black;
  font-size: 15px;
  padding: 3px 0;
  padding-left: 10px;
}

select .option {
  background-color:#D5F5F5;
  box-shadow: 1px 1px 3px #d9d9d9;
  border-radius: 5px;
}
span.locationSelect {
  display: inline;
  position: relative;
  margin-left: 10px;
}


.buttonGroup {
  width: 100%;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.sports {
  width: 150px;
  margin: 10px;
  padding: 10px;
  border: 1px #d9d9d9 solid;
  border-radius: 15px;
  display: inline-block;
}
.sportIcon {
  padding: 5px 25px 5px;
}
.sportIcon img {
  width: 80px;
  height: 80px;

}
.sportLevel input[type="range"] {
  width: 90px;
  margin: 5px;
  border: none;
  box-shadow: none;
}

.bio-edit textarea {
  font-size: 15px;
  margin: 3px;
  border-radius: 10px;
  padding: 5px 10px;
  text-align: justify;
  width: 100%;
}

.bio-edit textarea:focus {

  border: solid 3px #80b3ff;
  border-radius: 5px;
  background-color:#F5F5F5;
  box-shadow: 1px 1px 3px #d9d9d9;
  font-family: sans-serif;
  color: black;
  font-size: 15px;
  padding: 3px 0;
  padding-left: 10px;
}
.externalfield {
  border: 1px #9E9E9E solid;
  padding: 10px;
  border-radius: 5px;
}
.externalinfo {
  margin: 3px;
}
.externalinfo input {
  width: 100%;
  border: solid 3px #9E9E9E;
  border-radius: 5px;
  background-color:#F5F5F5;
  box-shadow: 1px 1px 3px #d9d9d9;
  margin-bottom: 8px;
}

.externalinfo input:focus {
  width: 100%;
  border: solid 3px #80b3ff;
  border-radius: 5px;
  background-color:#F5F5F5;
  box-shadow: 1px 1px 3px #d9d9d9;
}
/*edit profile picture*/
#changePic .modal-dialog {
  width: 500px;
}
input.searchbox {
  width: 100%;
  margin: auto;
  margin-bottom: 10px;
}
