/*header*/
.row {
  box-sizing: border-box;
}
.col-sm-3 {
  padding: 10px;
}
.logo {
  width : 150px;
  height: 60px;
  float: left;

}
.pageTitle {
  font-size: 40px;
  text-align: right;
  font-weight: bold;
}
.menuButtons{
  padding: 10px;
  display: inline;
  text-align: right;
}
.menuButtons ul {
  margin: auto;
  list-style-type: none;
  display: inline-block;
  text-align: right;
}
.menuButtons li {
  text-align: right;
  float: left;
  margin: 10px;
}
a.button {
  text-decoration: none;
  color: initial;
  padding: 5px;
  font-size: 23px;
  border-radius: 5px;
  border: solid 1px black;
  background: linear-gradient(#0040ff, #ccd9ff);
}

a.button:hover{
  background: #4d79ff;
  color: white;
}
